*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Anton', sans-serif;
}
.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;

}
.panels .panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;text-align: center;
    align-items: center;
    transition: ;
    flex: 1;
}
.panel>*{
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel1{background-image: url(img/p1.jpg);background-size: cover;}
.panel2{background-image: url(img/p2.jpg);background-size: cover;}
.panel3{background-image: url(img/p5.jpg);background-size: cover;}
.panel4{background-image: url(img/p4.jpg);background-size: cover;}
.panel5{background-image: url(img/p3.jpg);background-size: cover;}