*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Londrina Outline', sans-serif;
}
.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;

}
.panels .panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: 
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;

}
.panel>*{
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.panel>*:first-child{transform: translateY(-100%);}
.panel .open-active>*:first-child{transform: translateY(0)}
.panel>*:last-child{transform: translateY(100%);}
.panel .open-active>*:last-child{transform: translateY(0)}
.panel1{background-image: url(img/p1.jpg);background-size: cover;}
.panel2{background-image: url(img/p2.jpg);background-size: cover;}
.panel3{background-image: url(img/p5.jpg);background-size: cover;}
.panel4{background-image: url(img/p4.jpg);background-size: cover;}
.panel5{background-image: url(img/p3.jpg);background-size: cover;}
.panel .open{
    flex: 5;
    font-size: 40px;
}